{% extends 'base.html.twig' %}

{% block title %}Hello FilmsController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>
    <div class="example-wrapper">
        {% if film is defined %}
            {% for film in film[0] %}
                <h1>{{ film.titre }}</h1>
                <p>Durée = {{ film.dureeMin }} minutes </p>
                <h2>Séances programmées</h2>

                {% for seance in film.seances %}
                    <ul>
                        <h3>Séance du {{ seance.dateProjection }}</h3>
                        <li>Tarif normal: {{ seance.tarifNormal }}</li>
                        <li>Tarif réduit: {{ seance.tarifReduit }}</li>
                        <p>Salle:</p>
                        <li>Nom: {{ seance.salle.nom }}</li>
                        <li>Places: {{ seance.salle.nbPlaces }}</li>
                    </ul>
                    <form method="post">
{#                        A faire#}
                        <label for="nb">Nombres de places à réserver</label>
                        <input type="number" value="Réserve">
                        <button type="submit"> Réserver </button>
                    </form>
                {% endfor %}

            {% endfor %}
        {% else %}
            <h1>Le film est introuvable</h1>
        {% endif %}
    </div>
{% endblock %}