{% extends 'base.html.twig' %}

{% block title %}S'inscrire{% endblock %}

{% block body %}
    <div style="text-align: center; margin-top: 80px ">
    <h1 class="mt-5">S'inscrire</h1>
    {{ form_start(form) }}
    {{ form_row(form.email) }}
    {{ form_row(form.password) }}
    <button type="submit" class="btn btn-primary" style="margin-top: 18px">Valider</button>
    {{ form_end(form) }}

    {% if erreur is defined %}
        <p>{{ erreur }}</p>
    {% endif %}
    </div>
{% endblock %}